on:
  push:
    branches:
      - main
  pull_request:

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    name: cargo fmt
    steps:
      - uses: actions/checkout@v2

      - name: install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt
          override: true

      - name: cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  test-stable:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, windows-2019, ubuntu-latest]
    name: cargo clippy+test
    steps:
      - uses: actions/checkout@v2

      - name: install libx11-dev
        run: |
          sudo apt update
          sudo apt install libx11-dev libpango1.0-dev libxkbcommon-dev libxkbcommon-x11-dev
        if: contains(matrix.os, 'ubuntu')

      - name: install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy
          profile: minimal
          override: true

      - name: restore cache
        uses: Swatinem/rust-cache@v1

      # Clippy packages in deeper-to-higher dependency order
      - name: cargo clippy glazier
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --manifest-path=Cargo.toml --all-targets --features=x11 --no-default-features -- -D warnings

      # Test packages in deeper-to-higher dependency order
      - name: cargo test glazier
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path=Cargo.toml --no-default-features --features=x11

  # we test the wayland backend as a separate job
  test-stable-wayland:
    runs-on: ubuntu-latest
    name: cargo clippy+test (wayland)
    steps:
      - uses: actions/checkout@v2

      - name: install wayland
        run: |
          sudo apt update
          sudo apt install libwayland-dev libpango1.0-dev libxkbcommon-dev

      - name: install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy
          profile: minimal
          override: true

      - name: restore cache
        uses: Swatinem/rust-cache@v1

      - name: cargo clippy glazier
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --manifest-path=Cargo.toml --all-targets --features=wayland --no-default-features -- -D warnings

      - name: cargo test glazier
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path=Cargo.toml --features wayland --no-default-features

  # we test the gtk backend as a separate job because gtk install takes
  # a long time.
  test-stable-gtk:
    runs-on: ubuntu-latest
    name: cargo clippy+test (gtk)
    steps:
      - uses: actions/checkout@v2

      - name: install libgtk-3-dev
        run: |
          sudo apt update
          sudo apt install libgtk-3-dev

      - name: install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy
          profile: minimal
          override: true

      - name: restore cache
        uses: Swatinem/rust-cache@v1

      - name: cargo clippy glazier
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --manifest-path=Cargo.toml --all-targets --features=gtk --no-default-features -- -D warnings

      - name: cargo test glazier
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features=gtk --no-default-features --manifest-path=Cargo.toml

#  test-stable-wasm:
#    runs-on: macOS-latest
#    name: cargo test (wasm32)
#    steps:
#      - uses: actions/checkout@v2
#
#      - name: install wasm-pack
#        uses: jetli/wasm-pack-action@v0.3.0
#        with:
#          version: latest
#
#      - name: install stable toolchain
#        uses: actions-rs/toolchain@v1
#        with:
#          toolchain: stable
#          target: wasm32-unknown-unknown
#          components: clippy
#          profile: minimal
#          override: true
#
#      - name: restore cache
#        uses: Swatinem/rust-cache@v1
#
#      - name: cargo clippy glazier (wasm)
#        uses: actions-rs/cargo@v1
#        with:
#          command: clippy
#          args: --manifest-path=Cargo.toml --all-targets --target wasm32-unknown-unknown -- -D warnings
#
#      # Test wasm32 relevant packages in deeper-to-higher dependency order
#      # TODO: Find a way to make tests work. Until then the tests are merely compiled.
#      - name: cargo test compile glazier
#        uses: actions-rs/cargo@v1
#        with:
#          command: test
#          args: --manifest-path=Cargo.toml --no-run --target wasm32-unknown-unknown

  doctest-stable:
    runs-on: macOS-latest
    name: glazier doctests
    steps:
      - uses: actions/checkout@v2

      - name: install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: restore cache
        uses: Swatinem/rust-cache@v1

      - name: cargo test glazier --doc
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path=Cargo.toml --doc --no-default-features --features=image,im

  # This tests the future rust compiler to catch errors ahead of time without
  # breaking CI
  # We only run on a single OS to save time; this might let some errors go
  # undetected until the compiler updates and they break CI; but that should
  # happen rarely, and not pose too much of a problem when it does.
  test-beta:
    runs-on: macOS-latest
    name: cargo clippy+test beta
    steps:
      - uses: actions/checkout@v2

      - name: install beta toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: beta
          components: clippy
          profile: minimal
          override: true

      - name: restore cache
        uses: Swatinem/rust-cache@v1

      # Clippy packages in deeper-to-higher dependency order
      - name: cargo clippy glazier
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --manifest-path=Cargo.toml --all-targets -- -D warnings
        continue-on-error: true

      # Test packages in deeper-to-higher dependency order
      - name: cargo test glazier
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path=Cargo.toml --no-default-features --features=x11
        continue-on-error: true

  doctest-beta:
    runs-on: macOS-latest
    name: glazier doctests beta
    steps:
      - uses: actions/checkout@v2

      - name: install beta toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: beta
          profile: minimal
          override: true

      - name: restore cache
        uses: Swatinem/rust-cache@v1

      - name: cargo test glazier --doc
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path=Cargo.toml --doc --features=image,im

  check-docs:
    name: Docs
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, windows-2019]
    steps:
      - uses: actions/checkout@v2

      - name: install libgtk-dev
        run: |
          sudo apt update
          sudo apt install libgtk-3-dev libxkbcommon-dev libxkbcommon-x11-dev
        if: contains(matrix.os, 'ubuntu')

      - name: install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: restore cache
        uses: Swatinem/rust-cache@v1

      # Doc packages in deeper-to-higher dependency order
      - name: cargo doc glazier
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --manifest-path=Cargo.toml --no-deps --document-private-items

      # On Linux also attempt docs for X11.
      - name: cargo doc glazier (X11)
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --manifest-path=Cargo.toml --features=x11 --no-deps --document-private-items
        if: contains(matrix.os, 'ubuntu')
